@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Lora-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Lora-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Lora-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Lora-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Lora-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Lora-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Lora-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Lora-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Lora-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Lora-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

