body{
	font-size: 18px;
	color:#555555;
    font-family: "Lora";
	line-height: 24px;
	font-weight:400;
}
/*-----------preloader start----------*/
#ac_preloader_wrapper {
    background-color: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2147483647;
}
#ac_preloader_wrapper #ac_preloader_box {
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    margin: -75px 0 0 -75px;
}
.loader{
    width: 80px;
    height: 80px;
    background-color: #7cba3d;
    margin: 40px auto;
    -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
    animation: sk-rotatePlane 1.2s infinite ease-in-out;

}
@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
/*-----------preloader end----------*/
/*-------------top header start------------*/
.ac_topheader {
    float: left;
    width: 100%;
    background: #0c2149;
}
.ac_language {
    float: left;
    width: 100%;
}
.ac_custom_select {
    float: left;
    width: auto;
    background:  #0c2149;
    border: none;
    color: #fff;
    padding: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    text-transform: capitalize;
}
.ac_custom_select:focus{
	outline:none;
}
.ac_topheader_link {
    float: left;
    width: 100%;
    text-align: right;
}
.ac_topheader_link ul {
    float: right;
    width: auto;
    padding: 0;
    margin: 0;
}
.ac_topheader_link ul li {
    float: left;
    list-style: none;
    padding: 9px 15px 8px;
    font-size: 16px;
    color: #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.ac_topheader_link ul li i {
    margin-right: 5px;
}
.ac_topheader_link ul li:last-child {
    border-right: none;
}
/*-------------top header end------------*/
/*-----------main header start---------*/
.ac_mainheader {
    float: left;
    width: 100%;
    padding: 35px 0;
    background: #fff;
}
.ac_fixed {
    position: fixed;
    z-index: 5;
    padding: 15px 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
.ac_logo {
    float: left;
    width: 100%;
}
.ac_logo a {
    display: inline-block;
}
.ac_menu {
    float: right;
    width: auto;
}
.ac_menu ul.nav li a {
    font-size: 17px;
    color: #333333;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0px;
	margin:0px 20px;
    position: relative;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.ac_menu ul.nav li a:before {
    position: absolute;
    content: '';
    width: 0;
    height: 2px;
    background: #7cb93d;
    top: 100%;
    left: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.ac_menu ul.nav li:last-child a {
    margin-right: 0;
}
.ac_menu ul.nav li a:hover{
	background:transparent;
}
.ac_menu ul.nav li:hover a, .ac_menu ul.nav li.active a  {
    color: #7cb93d;
}
.ac_menu ul.nav li a:focus, .ac_menu ul.nav li:focus{
    outline:none;
    background:transparent;
}
.ac_menu ul.nav li:hover a:before {
    width: 100%;
}
.ac_menu ul.nav li.active a:before{
	width:100%;
} 
/*-----------main header end---------*/
/*-----------submenu start--------------*/
.ac_menu ul.nav li ul.sub-menu {
    left: 0;
    top: 100%;
    position: absolute;
    z-index: 1000;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    padding: 0px;
    margin: 0px;
    -webkit-transform: -webkit-translateY(-5px);
    -moz-transform: -moz-translateY(-5px);
    -ms-transform: -ms-translateY(-5px);
    -o-transform: -o-translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.24);
}
.ac_menu ul.nav li ul.sub-menu li {
    float: left;
    list-style: none;
    background: #fff;
    width: 200px;
}
.ac_menu ul.nav li ul.sub-menu li a {
    font-size: 14px;
    width: 100%;
    margin: 0;
    text-transform: capitalize;
    padding: 10px;
    text-decoration: none;
    color: #333;
}
.ac_menu ul.nav li:hover ul.sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: -webkit-translateY(0px);
    -moz-transform: -moz-translateY(0px);
    -ms-transform: -ms-translateY(0px);
    -o-transform: -o-translateY(0px);
    transform: translateY(0px);
}
.ac_menu ul.nav li ul.sub-menu li:hover a {
    color: #7cb93d;
}
/*-----------submenu end--------------*/
/*-------------Banner start-------------*/
.ac_banner_wrapper {
    float: left;
    width: 100%;
    height: 700px;
    overflow: hidden;
}
.ac_bannerdiv {
    float: left;
    width: 100%;
    position: relative;
    height:700px;
}
.ac_bannerdiv img {
    width: 100%;
    height: 100%;
}
.ac_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.ac_overlay:before {
    position: absolute;
    content: '';
    width: 90%;
    height: 100%;
    left: -200px;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
}
.ac_bannerdata {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 1;
    height: auto;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.ac_bannerdata img {
    margin-bottom: 10px;
    width:auto;
    height:auto;
}
.ac_bannerdata h2 {
    float: left;
    width: 100%;
    color: #fefefe;
    font-size: 40px;
    line-height: 50px;
    margin: 0;
    padding-bottom: 30px;
    font-weight: 700;
}
.ac_bannerdata p {
    float: left;
    width: 100%;	
    color: #f5f5f5;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    font-style: italic;
}
.carousel-fade 
    .carousel-inner 
        .item {
            transition-property: opacity;
        }


        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }

    .carousel-control {
        z-index: 2;
    }
/*-------------Banner end-------------*/
/*------------button css start---------*/
.ac_btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    box-shadow: 0 0 0 1px #7cb93d;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    background: #7cb93d;
    border: none;
	text-decoration:none;
}
.ac_btn:hover {
	background:transparent;
	color:#7cb93d;
	text-decoration:none;
}
.ac_btn:focus{
	outline:none;
	border:none;
}
.ac_transparent_btn {
    color: #7cb93d;
	background:transparent;
}
.ac_transparent_btn:hover {
    color: #fff;
	background:#7cb93d;
}
.ac_transparent_btn:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
/*------------button css end---------*/
/*-------------about section start------------*/
.ac_transparent_wrapper {
    float: left;
    width: 100%;
    padding: 100px 0 70px;
}
.ac_about_img {
    float: left;
    width: 100%;
    position: relative;
    padding:0;
    margin-bottom: 30px;
}
.ac_aboutdata {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.ac_aboutdata h2 {
    float: left;
    width: 100%;
    position: relative;
    color: #333;
    font-weight: bold;
    font-size: 34px;
    margin: 0;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.ac_aboutdata h2:before {
    position: absolute;
    content: '';
    width: 55%;
    height: 2px;
    background: #7cb93d;
    top: 100%;
    left: 0;
}
.ac_aboutdata h2:after {
    position: absolute;
    content: '';
    background-image: url(../images/heading_icon.png);
    width: 28px;
    height: 25px;
    top: 84%;
    left: 56%;
}
.ac_aboutdata p {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    font-size: 19px;
    line-height: 25px;
}
/*-------------about section end------------*/
/*-----------divider section start---------*/
.ac_divider {
    float: left;
    width: 100%;
    margin: 30px 0;
}
.ac_divider hr {
    margin: 0;
    border-color: #7bb93d;
}
/*-----------divider section end---------*/
/*-----------achivment section start-------*/
.ac_achivment {
    float: left;
    width: 100%;
    margin: 30px 0;
}
.ac_achivment span {
    float: left;
    width: 90px;
    height: 90px;
    margin-right: 20px;
    border: 2px solid #7bb93d;
    text-align: center;
    line-height: 85px;
    border-radius: 100%;
}
.ac_achivment_data {
    float: left;
    width: 58%;
}
.ac_achivment_data hr {
    float: left;
    width: 25px;
    margin: 0;
    border: 1px solid #7bb93d;
    margin-bottom: 15px;
}
.ac_achivment_data h3 {
    float: left;
    width: 100%;
    margin: 0;
    font-size: 19px;
    margin-bottom: 5px;
    color: #7cba3d;
    font-weight: bold;
}
/*-----------achivment section end-------*/
/*--------------services section start----------*/
.ac_services_wrapper {
    float: left;
    width: 100%;
}
.ac_servicediv {
    float: left;
    width: 100%;
    text-align: center;
    padding: 50px 20px;
    background: #7cb93d;
}
.ac_servicediv span {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 1px #fff;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    position: relative;
}
.ac_servicediv span:before {
    position: absolute;
    content: '';
    background-position: 11px 15px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-repeat: no-repeat;
    left: 2px;
    top: 2px;
    z-index: 1;
}
.ac_servicediv span:after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    padding: 2px;
    background: #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.ac_servicediv span:hover:before {
    background-position: 11px -47px;
}
.ac_servicediv span:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.ac_servicediv span.ac_service1:before {
    background-image: url(../images/service_icon1.png);
    background-position: 7px 13px;
}
.ac_servicediv span.ac_service2:before {
    background-image: url(../images/service_icon2.png);
}
.ac_servicediv span.ac_service3:before {
    background-image: url(../images/service_icon3.png);
}
.ac_servicediv span.ac_service4:before {
    background-image: url(../images/service_icon4.png);
}
.ac_servicediv span.ac_service2:hover:before {
    background-position: 10px -42px;
}
.ac_servicediv span.ac_service1:hover:before {
    background-position: 6px -58px;
}
.ac_servicediv h3 {
    float: left;
    width: 100%;
    color: #fff;
    font-size: 19px;
    text-transform: capitalize;
    font-weight: bold;
    margin: 0;
    padding: 20px 0;
}
.ac_servicediv p {
    float: left;
    width: 100%;
    color: #fff;
    margin: 0;
    font-size: 16px;
    padding: 0px 10px;
}
.ac_greenbg1{
    background: #82bd46;
}
.ac_greenbg2{
    background: #88c04f;
}
.ac_greenbg3{
    background: #8ec358;
}
/*--------------services section end----------*/
/*--------main heading start-----------*/
.ac_mainheading {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}
.ac_mainheading_innerdiv {
    display: inline-block;
    width: auto;
    position: relative;
    margin-bottom: 30px;
}
.ac_mainheading h2 {
    display: inline-block;
    width: auto;
    margin: 0;
    font-size: 34px;
    color: #333333;
    font-weight: bold;
    line-height: 60px;
    position: relative;
    padding: 30px;
	padding-top:0px;
    text-transform: capitalize;
}
.ac_mainheading h2:after {
    position: absolute;
    content: '';
    background-image: url(../images/heading_icon.png);
    width: 28px;
    height: 25px;
    left: 50%;
    bottom: -13px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.ac-left-top-border:before {
    content: '';
    position: absolute;
    left: -20px;
    top: 30px;
    height: 2px;
    width: 10%;
    background: #7cb93d;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.ac-left-top-border:after {
    content: '';
    position: absolute;
    left: -20px;
    top: 30px;
    width: 2px;
    height: 34%;
    background: #7cb93d;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.ac-right-top-border:before {
     content: '';
    position: absolute;
    right: -20px;
    top: 30px;
    height: 2px;
    width: 10%;
    background: #7cb93d;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.ac-right-top-border:after {
    content: '';
    position: absolute;
    right: -20px;
    top: 30px;
    width: 2px;
    height: 33%;
    background: #7cb93d;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.ac-right-bottom-border:before {
    content: '';
    position: absolute;
    height: 2px;
	right: -20px;
    bottom: 0px;
    width: 45%;
    background: #7cb93d;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.ac-right-bottom-border:after {
    content: '';
    position: absolute;
    right: -20px;
    bottom: 0px;
    width: 2px;
    height: 34%;
    background: #7cb93d;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.ac-left-bottom-border:before {
    content: '';
    position: absolute;
    left: -20px;
    bottom: 0px;
    width: 45%;
    height: 2px;
    background: #7cb93d;
}
.ac-left-bottom-border:after {
    content: '';
    position: absolute;
    left: -20px;
    bottom: 0px;
    width: 2px;
    height: 34%;
    background: #7cb93d;
}
.ac_mainheading p {
    float: left;
    width: 100%;
    margin: 0;
}
.ac_mainheading.ac_whiteheading h2 {
    color: #fff;
}
.ac_mainheading.ac_whiteheading h2:after {
    background-image: url(../images/heading_white_icon.png);
}
.ac_mainheading.ac_whiteheading p {
    color: #fff;
}
/*--------main heading end-----------*/
/*------------team section start--------*/
.ac_lightgray_wrapper{
	float:left;
	width:100%;
	padding: 100px 0 50px;
	background:#f5f5f5;
}
.ac_teamdiv {
    float: right;
    width: 95%;
    padding: 30px;
    border: 1px solid #7cb93d;
    margin-bottom: 50px;
}
.ac_teamimg {
    float: left;
    width: 230px;
    margin-left: -60px;
    margin-right: 20px;
}
.ac_teamdetail {
    float: left;
    width: 55%;
}
.ac_teamdetail h3 {
    float: left;
    width: 100%;
    margin: 0;
    padding: 15px 0 10px;
    font-size: 20px;
    color: #333333;
    text-transform: capitalize;
}
.ac_teamdetail h5 {
    float: left;
    width: 100%;
    margin: 0;
    text-transform: capitalize;
    font-style: italic;
    color: #7cba3d;
    padding-bottom: 10px;
}
.ac_teamdetail ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.ac_teamdetail ul li {
    float: left;
    width: auto;
    list-style: none;
}
.ac_teamdetail ul li a {
    float: left;
    padding-right: 10px;
    color: #c2c0c0;
    font-size: 14px;
    font-weight: 400;
}
.ac_teamdetail p {
    float: left;
    width: 100%;
    font-size: 16px;
}
.ac_teamdetail a {
    float: left;
    width: auto;
    font-size: 20px;
    color: #7cba3d;
    text-transform: capitalize;
    font-weight: bold;
    text-decoration: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.ac_teamdetail a:hover {
    color: #333;
}
/*------------team section end--------*/
/*-------------testimonail section start-------------*/
.ac_testimonial_wrapper {
    float: left;
    width: 100%;
    padding: 100px 0;
    background-image: url(http://wallpapers-images.ru/1920x1080/mountains/wallpapers/wallpapers-mountains-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.ac_testimonial_wrapper:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.30);
    top: 0;
    left: 0;
}
.ac_quotesdiv {
    float: left;
    width: 100%;
    position: relative;
    text-align: center;
    z-index: 1;
	margin-bottom:30px;
}
.ac_quotesdiv:before, .ac_quotesdiv:after {
    position: absolute;
    content: '';
    width: 40%;
    height: 1px;
    background: #7cb93d;
    top: 50%;
    margin-top: -1px;
}
.ac_quotesdiv:before {
    left: 6%;
}
.ac_quotesdiv:after {
    right: 6%;
}
.ac_quotesdiv i {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #7cb93d;
    border-radius: 100%;
    color: #fff;
    font-size: 27px;
}
.ac_testimonial_slider {
    float: left;
    width: 100%;
}
.ac_testimonial_slider .ac_sliderdata {
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
}
.ac_testimonial_slider .ac_sliderdata p {
    float: left;
    width: 100%;
    color: #fff;
    margin: 0;
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
}
.ac_testimonial_slider .ac_sliderdata img {
    display: inline-block;
    border-radius: 100%;
	width:auto !important;
}
.ac_testimonial_slider .ac_sliderdata h3 {
    float: left;
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    margin: 0;
    padding: 20px 0 15px;
}
.ac_testimonial_slider .ac_sliderdata h4 {
    float: left;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
    font-size: 15px;
    color: #7cba3d;
    font-style: italic;
}
.ac_testimonial_slider .ac_sliderdata ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.ac_testimonial_slider .ac_sliderdata ul li {
    display: inline-block;
    list-style: none;
}
.ac_testimonial_slider .ac_sliderdata ul li a {
    float: left;
    padding-right: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.ac_testimonial_slider .owl-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
   -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.ac_testimonial_slider .owl-controls .owl-prev, .ac_testimonial_slider .owl-controls .owl-next {
    position: absolute;
    width: 20px;
    height: 20px;
    color: #7cba3d;
    text-align: center;
    line-height: 20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.ac_testimonial_slider .owl-controls .owl-prev {
    left: 35%;
}
.ac_testimonial_slider .owl-controls .owl-next {
    right: 35%;
}
.ac_testimonial_slider .owl-controls .owl-prev:hover, .ac_testimonial_slider .owl-controls .owl-next:hover {
	color: #fff;
}
/*-------------testimonail section end-------------*/
/*-------------blog section start-------------*/
.ac_bgimg_blog {
    float: left;
    width: 100%;
    background-image: url(http://www.gazprom.ru/f/posts/58/904937/antm1483_2.jpg);
    background-size: cover;
    position: relative;
    padding: 50px 30px;
}
.ac_bgimg_blog:after {
    position: absolute;
    width: 100%;
    content: '';
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
}
.ac_bgimg_blog h3 {
    float: left;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    color: #fff;
    position: relative;
    z-index: 1;
    font-size: 21px;
    line-height: 28px;
}
.ac_bgimg_blog p {
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding-bottom: 15px;
}
.ac_bgimg_blog h4 {
    float: left;
    width: 100%;
    color: #fff;
    position: relative;
    z-index: 1;
    font-size: 20px;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 10px;
}
.ac_bgimg_blog h6 {
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
    color: #fff;
    font-style: italic;
    font-size: 14px;
    margin: 0;
}
.ac_blog_listview {
    float: left;
    width: 100%;
}
.ac_blogdiv {
    float: left;
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.ac_blog_img {
    float: left;
    width: 130px;
    margin-right: 20px;
}
.ac_blog_content {
    float: left;
    width: 75%;
}
.ac_blog_content h3 {
    float: left;
    width: 100%;
    margin: 0;
    color: #333333;
    font-size: 20px;
    padding-bottom: 15px;
}
.ac_blog_content ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}
.ac_blog_content ul li {
    float: left;
    width: auto;
    list-style: none;
    padding-right: 20px;
    padding-bottom: 15px;
}
.ac_blog_content ul li a {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #666666;
    font-style: italic;
    text-transform: capitalize;
}
.ac_blog_content ul li a i{
	margin-right:5px;
}
.ac_blog_content ul li a:hover, .ac_blog_content ul li a:focus {
    text-decoration:none;
    outline:none;
    color:inherit;
}
.ac_blog_listview .ac_blogdiv:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
/*-------------blog section end-------------*/
/*-------------newsletter section start-------------*/
.ac_newsletter_wrapper {
    float: left;
    width: 100%;
    background-image: url(http://via.placeholder.com/1920x1080);
    padding: 100px 0;
    position: relative;
}
.ac_newsletter_wrapper:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.30);
    top: 0;
    left: 0;
}
.ac_newsletter_div {
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
}
.ac_newsletter_div .form-inline {
    float: left;
    width: 100%;
}
.ac_newsletter_div .form-inline .form-group {
    float: left;
    width: 89%;
    border: 1px solid #7bb93d;
}
.ac_newsletter_div .form-inline .form-group .input-group {
    width: 100%;
}
.ac_newsletter_div .form-inline .form-group .input-group .input-group-addon {
    width: 15px;
    border-radius: 0;
    background: transparent;
    border: none;
    padding: 10px;
    text-align: left;
    color: #c3c3c3;
}
.ac_newsletter_div .form-inline .form-group .input-group .form-control {
    height: 56px;
    border-radius: 0;
    background: transparent;
    color: #c3c3c3;
    border: none;
    padding-left: 0;
    font-style: italic;
}
.ac_newsletter_div .form-inline .ac_btn {
    border-radius: 0;
    padding: 17px 20px 16px;
}
.ac_newsletter_div .form-inline .ac_btn:after {
    border-radius: 0;
}
.ac_newsletter_div .form-inline .form-group .input-group .form-control:focus{
	outline:none;
	box-shadow:none;
	border:none;
}
.ac_newsletter_div .form-inline .form-group .input-group .form-control::-moz-placeholder {
  color: #c3c3c3;
  opacity: 1;
}
.ac_newsletter_div .form-inline .form-group .input-group .form-control:-ms-input-placeholder {
  color: #c3c3c3;
}
.ac_newsletter_div .form-inline .form-group .input-group .form-control::-webkit-input-placeholder {
  color: #c3c3c3;
}
.ac_contactdiv {
    float: left;
    width: 100%;
}
.ac_contactdiv .ac_icondiv {
    float: left;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin-right: 20px;
    color: #fff;
    background: #7cb93d;
    position: relative;
    z-index: 1;
    text-decoration: none;
    box-shadow: 0 0 0 4px rgba(124, 185, 61, 0.8);
    overflow: hidden;
    -webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	
}
.ac_contactdiv:hover .ac_icondiv i{
    -webkit-animation: toTopFromBottom 0.3s forwards;
    -moz-animation: toTopFromBottom 0.3s forwards;
    animation: toTopFromBottom 0.3s forwards;
}
.ac_contactdiv:hover .ac_icondiv {
    background: transparent;
    color: #7cb93d;
    box-shadow: 0 0 0 6px rgba(124, 185, 61, 0.8);
}
@-webkit-keyframes toTopFromBottom {
	49% {
		-webkit-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toTopFromBottom {
	49% {
		-moz-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toTopFromBottom {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
.ac_contactdiv .ac_contact_detail {
    float: left;
    width: 72%;
}
.ac_contactdiv .ac_contact_detail h4 {
    float: left;
    width: 100%;
    font-size: 20px;
    color: #333333;
    margin: 0;
    padding-bottom: 10px;
}
.ac_contactdiv .ac_contact_detail p {
    float: left;
    width: 100%;
    color: #666666;
    font-size: 17px;
}
.ac_contactdiv .ac_contact_detail p a {
    text-decoration: none;
    color: inherit;
}
/*-------------newsletter section end-------------*/
/*-------------copyright section start-------------*/
.ac_copyright_wrapper {
    float: left;
    width: 100%;
    background: #0c2149;
    padding: 30px 0;
}
.ac_copyright_wrapper p {
    float: left;
    width: 100%;
    color: #fff;
    margin: 0;
}
.ac_copyright_wrapper ul {
    float: right;
    padding: 0;
    margin: 0;
    width: auto;
}
.ac_copyright_wrapper ul li {
    float: left;
    list-style: none;
    padding-left: 10px;
}
.ac_copyright_wrapper ul li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.ac_copyright_wrapper ul li a:hover {
    color: #7cb93d;
}
/*-------------copyright section end-------------*/
/*--------------about us page start---------*/
.ac_breadcrumb_wrapper {
    float: left;
    width: 100%;
    background-image: url(http://via.placeholder.com/1920x700);
    background-size: cover;
    position: relative;
    padding: 50px 0;
}
.ac_pagetitle {
    float: left;
    width: 100%;
}
.ac_pagetitle h2 {
    float: left;
    width: 100%;
    margin: 0;
    color: #fff;
    text-transform: capitalize;
}
.ac_breadcrumb_div {
    float: left;
    width: 100%;
}
.ac_breadcrumb_div ol.breadcrumb {
    float: right;
    background: transparent;
    border-radius: 0;
    margin: 0;
}
.ac_breadcrumb_div ol.breadcrumb li {
    float: left;
    text-transform: capitalize;
    font-size: 14px;
}
.ac_breadcrumb_div ol.breadcrumb li a {
    color: #fff;
    text-decoration: none;
}
.ac_breadcrumb_div ol.breadcrumb li.active {
    color: #7cb93d;
    font-weight: 600;
}
.ac_breadcrumb_div ol.breadcrumb > li + li:before {
    color: #fff;
    font-family: FontAwesome;
    content: "\f105";
}
/*--------------about us page end---------*/
/*-----------services page start---------------*/
.ac_servicediv2 {
    float: left;
    width: 100%;
    min-height: 190px;
    margin-bottom: 30px;
}
.ac_servicediv2 span {
    float: left;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 100%;
    margin-right: 20px;
    box-shadow: 0 0 0 1px #7cb93d;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    position: relative;
}
.ac_servicediv2 span:before {
    position: absolute;
    content: '';
    background-position: 11px 15px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-repeat: no-repeat;
    left: 2px;
    top: 2px;
    z-index: 1;
}
.ac_servicediv2 span:after {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    padding: 2px;
    background: #7cb93d;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.ac_servicediv2:hover span:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
.ac_servicediv2 h3 {
    float: left;
    width: 69%;
    margin: 0;
    font-size: 20px;
    padding-bottom: 30px;
    line-height: 26px;
    font-weight: 500;
    color: #333333;
}
.ac_servicediv2 p {
    float: left;
    width: 100%;
    margin: 0;
    font-size: 16px;
}
.ac_servicediv2 span.ac_service1:before {
    background-image: url(../images/service_icon1.png);
    background-position: 2px -62px;
}
.ac_servicediv2 span.ac_service2:before {
    background-image: url(../images/service_icon2.png);
    background-position: 5px -47px;
}
.ac_servicediv2 span.ac_service3:before {
    background-image: url(../images/service_icon3.png);
    background-position: 5px -52px;
}
.ac_servicediv2 span.ac_service4:before {
    background-image: url(../images/service_icon4.png);
    background-position: 5px -50px;
}
.ac_servicediv2:hover span.ac_service1:before {
    background-position: 2px 9px ;
}
.ac_servicediv2:hover span.ac_service2:before {
    background-position: 5px 12px;
}
.ac_servicediv2:hover span.ac_service3:before {
    background-position: 5px 11px;
}
.ac_servicediv2:hover span.ac_service4:before {
    background-position: 5px 11px;
}
.ac_transparent_wrapper2{
	float:left;
	width:100%;
	padding:100px 0 0px;
}
/*-----------services page end---------------*/
/*------------gallery page start------------*/
.ac_gallery_div {
    float: left;
    width: 100%;
    position: relative;
	margin-bottom:30px;
}
.ac_overlay2 {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(-90deg);
    -moz-transform: perspective(400px) rotateX(-90deg);
    -ms-transform: perspective(400px) rotateX(-90deg);
    -o-transform: perspective(400px) rotateX(-90deg);
    transform: perspective(400px) rotateX(-90deg);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.ac_hovericon_div {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.ac_hovericon_div ul  {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    position: relative;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
    color: rgba(50, 50, 50, 0.9);
}
.ac_hovericon_div ul li {
    float: left;
    list-style: none;
}
.ac_hovericon_div ul  li a {
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    margin-right: 10px;
    text-decoration: none;
    color: #7cb93d;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.ac_hovericon_div ul  li a:hover {
	background: #7cb93d;
	color:#fff;
}
.ac_gallery_div:hover .ac_overlay2 {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg);
    -moz-transform: perspective(400px) rotateX(0deg);
    -ms-transform: perspective(400px) rotateX(0deg);
    -o-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
}
.ac_gallery_div:hover .ac_hovericon_div ul {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
}
/*------------gallery page end------------*/
/*-------------blog with left sidebar start-----------*/
.ac_blogimage {
    float: left;
    width: 100%;
    position: relative;
}
.ac_postdate {
    position: absolute;
    bottom: 0;
    padding: 20px 40px;
    background: #7cb93d;
    color: #fff;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.ac_postdate h4 {
    float: left;
    width: 100%;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
}
.ac_blogimage:hover .ac_postdate {
	background:#333;
}
.ac_blogimage:hover .ac_overlay2 {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg);
    -moz-transform: perspective(400px) rotateX(0deg);
    -ms-transform: perspective(400px) rotateX(0deg);
    -o-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
}
.ac_blogimage:hover .ac_hovericon_div ul {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
}
.ac_blogdata {
    float: left;
    width: 100%;
    padding: 20px 0 0;
}
.ac_blogdata h3 {
    float: left;
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
    text-transform: capitalize;
    color: #333333;
    font-weight: bold;
}
.ac_blogdata h3 a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.ac_blogdata h3:hover a, .ac_blogdata h3 a:focus {
    color: #7cb93d;
	outline:none;
}
.ac_blogdata ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.ac_blogdata ul li {
    float: left;
    list-style: none;
    padding-right: 15px;
}
.ac_blogdata ul li a {
    float: left;
    color: #c2c0c0;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
    font-style: italic;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.ac_blogdata ul li a i {
    margin-right: 5px;
}
.ac_blogdata ul li:hover a, .ac_blogdata ul li a:focus {
    color: #7cb93d;
    text-decoration: none;
    outline: none;
}
.ac_blogdata p {
    float: left;
    width: 100%;
    margin: 0;
    padding: 10px 0 30px;
}
/*-------------blog with left sidebar end-----------*/
/*-----------sidebar start----------*/
.ac_sidebar_wrapper {
    float: left;
    width: 100%;
}
.widget {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.widget_search .form-inline {
    float: left;
    width: 100%;
}
.widget_search .form-inline .form-group {
    float: left;
    width: 83%;
}
.widget_search .form-inline .form-group .form-control {
    float: left;
    width: 100%;
    height: 45px;
    border-radius: 0;
    box-shadow: none;
}
.widget_search .form-inline .ac_btn {
    border-radius: 0;
    float: left;
}
.widget_search .form-inline .ac_btn:after {
    border-radius: 0;
}
.widget_search .form-inline .form-group .form-control:focus {
	outline:none;
	border-color:#ccc;
	box-shadow:none;
}
.widget_categories ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}
.widget_categories ul li {
    float: left;
    width: 100%;
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}
.widget_categories ul li a {
    float: left;
    width: 100%;
    text-decoration: none;
    font-size: 15px;
    color: #555555;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    text-transform: capitalize;
}
.widget_categories ul li a:hover, .widget_categories ul li a:focus {
    color: #7cb93d;
    text-decoration: none;
    outline: none;
}
.widget-title {
    float: left;
    width: 100%;
    margin: 0;
    padding-bottom: 18px;
    position: relative;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-size: 23px;
    font-weight: bold;
}
.widget-title:before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background: #7cb93d;
    top: 100%;
    left: 0;
}
.widget-title:after {
    position: absolute;
    content: '';
    background-image: url(../images/heading_icon.png);
    width: 18px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    top: 85%;
    left: 65px;
}
.widget_categories ul li:last-child{
	border-bottom:none;
}
.widget_recent_entries ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.widget_recent_entries ul li {
    float: left;
    width: 100%;
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.widget_recent_entries ul li:last-child{
	border-bottom:none;
} 
.widget_recent_entries ul li .ac_recentpost_img {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 20px;
}
.widget_recent_entries ul li .ac_recentpost_data {
    float: left;
    width: 70%;
}
.widget_recent_entries ul li .ac_recentpost_data h3 {
    float: left;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
    font-size: 17px;
    line-height: 23px;
    color: #333;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.widget_recent_entries ul li .ac_recentpost_data h3:hover {
	color:#7cb93d;
}
.widget_recent_entries ul li .ac_recentpost_data h3 a {
    text-decoration: none;
    color: inherit;
}
.widget_recent_entries ul li .ac_recentpost_data .ac_date {
    font-size: 14px;
    text-transform: capitalize;
    color: #c2c0c0;
    font-style: italic;
}
.tagcloud {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.tagcloud a {
    display: inline-block;
    padding: 10px 10px;
    margin: 5px;
    background: #f1f1f1;
    color: #555555;
    text-decoration: none;
    font-size: 13px;
    text-transform: capitalize;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}	
.tagcloud a:hover, .tagcloud a:focus {
	background:#7cb93d;
	color:#fff;
	text-decoration:none;
	outline:none;
}
.widget_text p {
    float: left;
    width: 100%;
    margin: 10px 0;
    font-size: 16px;
}
/*-----------sidebar end----------*/
/*---------------blog single start--------------*/
.ac_blogdata blockquote {
    float: left;
    width: 100%;
    border-left-color: #7cb93d;
    background: #f1f1f1;
}
.ac_blogdata blockquote p {
    font-size: 17px;
}
.ac_commentdiv {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.ac_commentdiv h2 {
    float: left;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    font-size: 23px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}
.ac_commentdiv h2:before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background: #7cb93d;
    top: 100%;
    left: 0;
}
.ac_commentdiv h2:after {
    position: absolute;
    content: '';
    background-image: url(../images/heading_icon.png);
    width: 18px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    top: 85%;
    left: 65px;
}
.comment-list {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.comment-list .comment {
    float: left;
    width: 100%;
    list-style: none;
    padding: 10px 0;
}
 .comment .comment-author-avatar {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
 .comment .main-comment {
    float: left;
    width: 84%;
    position: relative;
}
.comment .main-comment h3 {
    float: left;
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
    font-size: 19px;
    text-transform: capitalize;
    font-weight: bold;
}
.comment .main-comment h3 span {
    font-weight: normal;
    font-size: 14px;
    text-transform: capitalize;
    color: #c2c0c0;
    font-style: italic;
}
.comment .main-comment p {
    float: left;
    width: 100%;
    font-size: 16px;
}
.comment-reply-link {
    position: absolute;
    right: 5px;
    top: 0;
    text-transform: capitalize;
    font-size: 15px;
    text-decoration: none;
    color: #7cb93d;
    font-style: italic;
    font-weight: bold;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.comment-reply-link:hover {
	text-decoration:none;
	color:#333;
}
.ac_commentdiv {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.ac_commentdiv h2, .comment-respond h2 {
    float: left;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    font-size: 23px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}
.ac_commentdiv h2:before, .comment-respond h2:before {
    position: absolute;
    content: '';
    width: 60px;
    height: 2px;
    background: #7cb93d;
    top: 100%;
    left: 0;
}
.ac_commentdiv h2:after, .comment-respond h2:after {
    position: absolute;
    content: '';
    background-image: url(../images/heading_icon.png);
    width: 18px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    top: 85%;
    left: 65px;
}
.comment-list {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}
.comment-list .comment {
    float: left;
    width: 100%;
    list-style: none;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
.comment .comment-author-avatar {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.comment-reply-link {
    position: absolute;
    right: 5px;
    top: 0;
    text-transform: capitalize;
    font-size: 15px;
    text-decoration: none;
    color: #7cb93d;
    font-style: italic;
    font-weight: bold;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.comment-reply-link:hover {
    text-decoration: none;
    color: #333;
}
.comment-list .comment ul.children {
    float: left;
    width: 100%;
    margin: 0;
    padding-left: 30px;
    margin-top: 15px;
}
.comment-list .comment ul.children li.comment {
    border-bottom: none;
    border-top: 1px solid #ccc;
}
.comment-list .comment ul.children li.comment .main-comment {
    width: 80%;
}
.comment-list .comment ul.children li.comment:last-child {
    padding-bottom: 0;
}
.comment-list .comment:last-child{
	border-bottom:none;
	padding-bottom:0px;
}
.ac_formdiv {
    float: left;
    width: 100%;
}
.ac_formdiv .ac_contactform {
    float: left;
    width: 100%;
}
.ac_formdiv .ac_contactform .form-group {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.ac_formdiv .ac_contactform .form-group label {
    float: left;
    width: 100%;
    font-size: 15px;
	text-transform:capitalize;
}
.ac_formdiv .ac_contactform .form-group label span{
	color:#ff0000;
}
.ac_formdiv .ac_contactform .form-group .form-control {
    display: inline-block;
    height: 39px;
    border-radius: 0;
    box-shadow: none;
}
.ac_formdiv .ac_contactform .form-group .form-control:focus{
	outline:none;
	box-shadow:none;
	border-color:#ccc;
} 
.ac_formdiv .ac_contactform .form-group textarea.form-control {
    height: auto;
    resize: none;
}
.ac_btndiv {
    float: left;
    width: 100%;
    text-align: right;
}
.comment-respond {
    float: left;
    width: 100%;
    margin-top: 30px;
}
.ac_commentform_div {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.ac_commentform_div .ac_commentform {
    float: left;
    width: 100%;
}
.ac_commentform_div .ac_commentform .form-group {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.ac_commentform_div .ac_commentform .form-group .form-control {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    border: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0;
}
.ac_commentform_div .ac_commentform .form-group textarea.form-control {
    height: auto;
    resize: none;
}
/*---------------blog single end--------------*/

/*-------responsive css start-----*/
@media (max-width: 1200px) {
	
}
@media (min-width: 992px) and (max-width: 1199px) {
.ac_menu ul.nav li a{
    margin: 0px 15px;
}
.ac_bannerdata h2{
    font-size: 35px;
    line-height: 40px;
    padding-bottom: 10px;
}
.ac_bannerdata p{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
}
.ac_about_img:before{
    width: 300px;
    height: 268px;
}
.ac_achivment span{
    width: 70px;
    height: 70px;
    line-height: 70px;
}
.ac_achivment_data{
    width: 57%;
}
.ac_achivment_data h3{
    font-size: 15px;
}
.ac_teamimg{
    width: 206px;
}
.ac_teamdetail h3{
    padding: 10px 0 10px;
}
.ac_blog_content{
    width: 70%;
}
.ac_blog_content h3{
    font-size: 16px;
    padding-bottom: 10px;
}
.ac_blog_content ul li{
    padding-bottom: 10px;
}
.ac_blog_content .ac_btn{
    padding: 5px 10px;
    font-size: 16px;
}
.ac_newsletter_div .form-inline .form-group{
    width: 85%;
}
.ac_contactdiv .ac_icondiv{
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.ac_contactdiv .ac_contact_detail{
    width: 76%;
}
.ac_contactdiv .ac_contact_detail p{
    font-size: 15px;
}
.widget_search .form-inline .form-group{
    width: 80%;
}
.widget_recent_entries ul li .ac_recentpost_data{
    width: 65%;
}
.comment .main-comment{
    width: 80%;
}
.comment-list .comment ul.children li.comment .main-comment {
    width: 75%;
}
.ac_servicediv2{
    min-height: 230px;
}
.ac_servicediv2 h3{
    width: 61%;
}
.ac_servicediv{
    min-height: 380px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.ac_topheader_link ul li{
    font-size: 15px;
}
.ac_mainheader{
    padding: 25px 0;
}
.ac_menu ul.nav li a{
    font-size: 13px;
    margin: 0px 10px;
}
.ac_bannerdata p{
    display: none;
}
.ac_bannerdata h2{
    width: 80%;
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 20px;
}
.ac_btn{
    padding: 7px 10px;
    font-size: 17px;
    line-height: 22px;
}
.ac_blogdiv{
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.ac_blog_img{
    width: 100px;
    margin-right: 15px;
}
.ac_blog_content{
    width: 65%;
}
.ac_blog_content h3{
    line-height: 18px;
    font-size: 14px;
    padding-bottom: 10px;
}
.ac_blog_content ul li{
    padding-right: 10px;
    padding-bottom: 10px;
}
.ac_blog_content ul li a{
    font-size: 12px;
}
.ac_newsletter_div .form-inline .form-group .input-group .form-control{
    height: 53px;
}
.ac_contactdiv{
    margin-bottom: 20px;
}
.ac_copyright_wrapper{
    text-align: center;
}
.ac_copyright_wrapper p{
    margin-bottom: 10px;
}
.ac_copyright_wrapper ul{
    display: inline-block;
    float: none;
}
.ac_menu ul.nav li ul.sub-menu{
    left: auto;
    right: 0;
}
.ac_gallery_div {
    float: none;
    width: auto;
    display: inline-block;
}
.widget_search .form-inline .ac_btn{
    padding: 11px 20px;
}
.comment .main-comment{
    width: 80%;
}
.comment-respond{
    margin-bottom: 50px;
}
.ac_bannerdiv, .ac_banner_wrapper{
    height:500px;
}
}
@media (max-width: 767px) {
.ac_custom_select{
    width: 100%;
}	
.ac_topheader_link{
    text-align: left;
}
.ac_topheader_link ul {
    float: left;
    width: 100%;
}
.ac_topheader_link ul li{
    width: 100%;
    border-right: none;
}
.ac_mainheader{
    padding: 15px 0;
}
.navbar-toggle{
    background-color: #7cb93d;
}
.navbar-toggle .icon-bar{
    background: #fff;
}
.ac_menu {
    float: left;
    width: 100%;
}
.ac_menu ul.nav{
    float: left;
    width: 100%;
    margin: 0;
}
.ac_menu ul.nav li {
    width: 100%;
    float: left;
}
.ac_menu ul.nav li a{
    padding: 10px;
    width: 100%;
    margin: 0;
}
.ac_menu .navbar-collapse.collapse.in {
    display: block !important;
}
.ac_menu .navbar-collapse.collapse {
    display: none !important;
}
.ac_menu ul.nav li ul.sub-menu li{
    width: 100%;
}
.ac_menu ul.nav li ul.sub-menu{
    position: relative;
    display: none;
}
.ac_menu ul.nav li:hover ul.sub-menu {
    display: block;
}
.ac_transparent_wrapper{
    padding: 50px 0 35px;
}
.ac_bannerdata img, .ac_bannerdata p, .ac_bannerdata a.ac_btn, .ac_about_img:before{
    display: none;
}
.ac_bannerdata h2{
    font-size: 25px;
    line-height: 35px;
    text-align: center;
}
.ac_overlay:before{
    left: -80px;
}
.ac_about_img{
    padding: 0;
}
.ac_teamdiv{
    width: 100%;
    padding: 0;
    margin-bottom: 25px;
}
.ac_teamimg{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding: 20px 0 0;
}
.ac_teamimg img {
    display: inline-block;
}
.ac_teamdetail{
    width: 100%;
    background: #eee;
    padding: 20px;
}
.ac-left-top-border:before, .ac-left-top-border:after, .ac-left-bottom-border:before, .ac-left-bottom-border:after{
    left: 0;
}
.ac-right-top-border:before, .ac-right-top-border:after, .ac-right-bottom-border:before, .ac-right-bottom-border:after{
    right: 0;
}
.ac-left-top-border:before, .ac-right-top-border:before{
    width: 5%;
}
.ac_testimonial_slider .ac_sliderdata p{
    font-size: 15px;
    line-height: 23px;
}
.owl-controls .owl-prev {
    left: 30%;
}
.owl-controls .owl-next {
    right: 30%;
}
.ac_blog_listview{
    margin-top: 30px;
}
.ac_blog_listview{
    margin-top: 30px;
}
.ac_blog_img {
    width: 100%;
    margin-right: 0;
    text-align: center;
}
.ac_blog_img img{
    display: inline-block;
}
.ac_blog_content{
    width: 100%;
    background: #eee;
    padding: 20px;
}
.ac_btn{
    padding: 5px 10px;
    font-size: 15px;
}
.ac_newsletter_div .form-inline .form-group{
    width: 85%;
}
.ac_contactdiv{
    margin-bottom: 20px;
}
.ac_copyright_wrapper ul {
    float: none;
    display: inline-block;
}
.ac_copyright_wrapper p{
    margin-bottom: 10px;
}
.ac_copyright_wrapper{
    text-align: center;
}
.ac_lightgray_wrapper{
    padding: 50px 0 25px;
}
.ac_testimonial_wrapper{
    padding: 50px 0;
}
.ac_pagetitle, .ac_breadcrumb_div{
    text-align: center;
}
.ac_breadcrumb_div ol.breadcrumb {
    float: none;
    display: inline-block;
}
.ac-left-top-border:after, .ac-right-top-border:after, .ac-right-bottom-border:after, .ac-left-bottom-border:after{
    height: 50%;
}
.ac_gallery_div {
    float: none;
    width: auto;
    display: inline-block;
}
.ac_gallery_div img {
    display: inline-block;
}
.widget_search .form-inline .ac_btn{
    padding: 10px 20px;
}
.comment .main-comment, .comment-list .comment ul.children li.comment .main-comment{
    width: 70%;
}
.ac_commentform_div{
    margin-bottom: 30px;
}
.ac_overlay:before{
    transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -o-transform: skewX(0deg);
    width:100%;
    left:0;
}
.ac_banner_wrapper, .ac_bannerdiv{
    height:auto;
}
}
@media (max-width: 479px) {
.ac_aboutdata h2{
    font-size: 28px;
}
.ac_mainheading h2{
    font-size: 30px;
    line-height: 45px;
}
.ac_contactdiv .ac_contact_detail{
    width: 65%;
}
.ac_contactdiv .ac_contact_detail p{
    font-size: 13px;
}
.ac_testimonial_slider .owl-controls{
    top: 54%;
}
.ac_testimonial_slider .owl-controls .owl-prev {
    left: 25%;
}
.ac_testimonial_slider .owl-controls .owl-next {
    right: 25%;
}
.ac_achivment{
    margin: 15px 0;
    text-align: center;
}
.ac_achivment span{
    float: none;
    display: inline-block;
    margin-right: 0;
}
.ac_achivment_data{
    width: 100%;
    margin-top: 20px;
}
.ac_achivment_data hr {
    float: none;
    display: inline-block;
}
.ac_postdate{
    padding: 15px 20px;
}
.ac_postdate h4{
    font-size: 14px;
}
.widget_recent_entries ul li .ac_recentpost_data{
    width: 60%;
}
.comment .main-comment, .comment-list .comment ul.children li.comment .main-comment{
    width: 50%;
}
.comment .main-comment h3{
    font-size: 15px;
}
.comment .main-comment h3 span{
    font-size: 12px;
}
.comment-reply-link{
    top: 95%;
    font-size: 13px;
}
}
@media (max-width: 320px){
.ac_mainheading h2 {
    font-size: 25px;
    line-height: 35px;
}
.ac-left-top-border:after, .ac-right-top-border:after, .ac-right-bottom-border:after, .ac-left-bottom-border:after{
    height: 50%;
}
.ac_testimonial_slider .owl-controls{
    top: 60%;
}
.ac_testimonial_slider .owl-controls .owl-prev {
    left: 20%;
}
.ac_testimonial_slider .owl-controls .owl-next{
    right: 20%;
}
.ac_quotesdiv:before, .ac_quotesdiv:after{
    width: 30%;
}
.ac_newsletter_div .form-inline .form-group{
    width: 100%;
}
.ac_contactdiv .ac_contact_detail{
    width: 100%;
    margin-top: 10px;
}
.ac_contactdiv .ac_contact_detail p {
    font-size: 15px;
}
.ac_servicediv2 h3{
    width: 60%;
    font-size: 18px;
}
.ac_pagetitle h2{
    line-height: 40px;
}
.widget_recent_entries ul li .ac_recentpost_data{
    width: 100%;
    margin-top: 10px;
}
.comment-list .comment ul.children{
    padding-left: 0;
}
.comment .main-comment, .comment-list .comment ul.children li.comment .main-comment {
    width: 45%;
}
}
@media (max-width: 767px) and (orientation: landscape) {
.ac_menu .navbar-collapse.collapse.in {
    height: 200px;
    overflow-y: scroll;
}
}
/*-------responsive css end-----*/
